.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0.125rem;
  padding: 0.5rem;
  border-radius: 9999px;
  cursor: pointer;
  flex-grow: 1;
}

.nav-link:hover {
  background-color: rgba(255, 228, 196, 0.096);
}

.nav-icon {
  /* size-6 */
  width: 1.5rem;
  height: 1.5rem;
}

.nav-label {
  display: none;

  /* text-xl */
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@media (min-width: 640px) {
  .nav-link {
    justify-content: flex-start;
  }

  .nav-icon {
    margin-right: 0.5rem;
  }
  .nav-label {
    display: block;
  }
}